<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
    />
    <title>イベントの一覧</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
			<!-- sub-titleはこちら -->
			<div class="sub-title">
				<h3 class="sub-title__text">イベントの一覧を見る</h3>
			</div>
   
        <!-- event-infoはこちら -->
				<a class="linkcover" href="../views/event-detail-stella1.html">
          <div class="event-info">
            <span></span>
            <p class="event-info__slogan">
              新学期を迎えた学生の皆さんに安らげる空間とHealingをお届け
            </p>
            <h2 class="event-info__title">Healing Week</h2>
            <p class="event-info__desc">
              4/29~5/3Stellaで音楽、ストレッチなど毎日異なる情報を提供
            </p>
            <img
              class="event-info__img"
              src="https://yoggy-institute.com/images/yoga/guidance/about_rys200.jpg"
              alt="img"
            />
          </div>
        </a>
				
		</main>
		
    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
		<script src="../../app/assets/javascripts/master.js"></script>
		<script src="../../app/assets/javascripts/detail.js"></script>
  </body>
</html>
