<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
    />
    <title>Mocchy</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <a class="linkcover" href="welcome.html">
        <img class="header__arrow" src="../assets/images/home-arrow1.png" />
      </a>
      <div class="header__title">Mocchy</div>
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <!-- <div class="header__burger">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <nav class="header__nav">
          <div><a href="#">Home</a></div>
          <div><a href="#">学生団体</a></div>
          <div><a href="#">イベント</a></div>
          <div><a href="#">雑誌</a></div>
        </nav> -->
    </div>

    <main>
      <!--スマホ　ホームページ-->
      <section class="open-visual">
        <img
          src="../assets/images/opening-visual1.jpg"
          alt="open-visual"
          class="open-visual__image open-visual__image--shown"
        />
        <img
          src="../assets/images/opening-visual5.jpg"
          alt="open-visual"
          class="open-visual__image"
        />
        <img
          src="../assets/images/opening-visual3.jpg"
          alt="open-visual"
          class="open-visual__image"
        />
        <img
          src="../assets/images/opening-visual7.jpg"
          alt="open-visual"
          class="open-visual__image"
        />
        <img
          src="../assets/images/opening-visual6.jpg"
          alt="open-visual"
          class="open-visual__image"
        />
        <img
          src="../assets/images/opening-visual3.jpg"
          alt="open-visual"
          class="open-visual__image"
        />
        <img
          src="../assets/images/opening-visual3.jpg"
          alt="open-visual"
          class="open-visual__image"
        />
      </section>
      <div class="open-visual__textbox">
        <p class="open-visual__title">EMPOWERMENT</p>
        <h2 class="open-visual__text">
          学生時代、たった4年。<br />充実させよう。本気になろう。
        </h2>
      </div>
      <div class="cover"></div>
      <div class="empty-box"></div>

      <!-- sub-titleはこちら -->
      <div class="sub-title">
        <h3 class="sub-title__text">ピックアップ団体</h3>
      </div>

      <!-- feature-infoはこちら -->
      <section class="x-scroll">
        <a class="linkcover" href="org-detail-nicchukyo.html">
          <div class="org-info">
            <img
              class="org-info__img"
              src="../assets/images/nicchukyo-img1.png"
              alt="img"
            />
            <img
              class="org-info__icon"
              src="../assets/images/nicchukyo-logo.jpeg"
              alt="icon"
            />
            <p>「近くて遠い中国」と友達に</p>
            <h2>日中橋</h2>
            <span></span>
          </div>
        </a>
        <a class="linkcover" href="../views/org-detail-fiwc.html">
          <div class="org-info">
            <img
              class="org-info__img"
              src="../assets/images/fiwc-img1.jpg"
              alt="img"
            />
            <img
              class="org-info__icon"
              src="../assets/images/fiwc-logo.jpg"
              alt="icon"
            />
            <p>ボランティアしたくね？海外。</p>
            <h2>FIWC東海委員会</h2>
            <span></span>
          </div>
        </a>
        <a class="linkcover" href="org-detail-iki.html">
          <div class="org-info">
            <img
              class="org-info__img"
              src="../assets/images/iki-img2.jpg"
              alt="img"
            />
            <img
              class="org-info__icon"
              src="../assets/images/iki-logo.jpg"
              alt="icon"
            />
            <p>名南生に驚きときっかけを</p>
            <h2>iki</h2>
            <span></span>
          </div>
        </a>
        <a class="linkcover" href="org-detail-mocchy.html">
          <div class="org-info">
            <img
              class="org-info__img"
              src="../assets/images/mocchy-img1.png"
              alt="img"
            />
            <img
              class="org-info__icon"
              src="../assets/images/mocchy-logo.jpeg"
              alt="icon"
            />
            <p>愛知に、全国に情報変革を</p>
            <h2>Mocchy</h2>
            <span></span>
          </div>
        </a>
      </section>

      <!-- sub-titleはこちら -->
      <div class="sub-title">
        <h3 class="sub-title__text">ピックアップevents</h3>
      </div>

      <!-- feature-infoはこちら -->
      <section class="x-scroll">
        <a class="linkcover" href="../views/event-detail-stella1.html">
          <div class="event-info">
            <span></span>
            <p class="event-info__slogan">
              新学期を迎えた学生の皆さんに安らげる空間とHealingをお届け
            </p>
            <h2 class="event-info__title">Healing Week</h2>
            <p class="event-info__desc">
              4/29~5/3Stellaで音楽、ストレッチなど毎日異なる情報を提供
            </p>
            <img
              class="event-info__img"
              src="https://yoggy-institute.com/images/yoga/guidance/about_rys200.jpg"
              alt="img"
            />
          </div>
        </a>
      </section>

      <div class="sub-title">
        <h3 class="sub-title__text">学生団体</h3>
      </div>

      <!-- general-infoはこちら -->
      <section class="general-info__scroll">
        <a class="linkcover" href="org-detail-南山プラス.html">
          <div class="general-info">
            <img
              class="general-info__icon"
              src="../assets/images/南山プラス-logo.jpg"
              alt="icon"
            />
            <p class="general-info__slogan">想いをカタチに</p>
            <h2 class="general-info__title" href="#">南山プラス</h2>
          </div>
        </a>
        <a class="linkcover" href="org-detail-nicchukyo.html">
          <div class="general-info">
            <img
              class="general-info__icon"
              src="../assets/images/nicchukyo-logo.jpeg"
              alt="icon"
            />
            <p class="general-info__slogan">「近くて遠い中国」と友達に</p>
            <h2 class="general-info__title" href="#">日中橋</h2>
          </div>
        </a>
        <a class="linkcover" href="org-detail-nect.html">
          <div class="general-info">
            <img
              class="general-info__icon"
              src="../assets/images/nect-logo.jpg"
              alt="icon"
            />
            <p class="general-info__slogan">環境と楽しいをcoNECT！</p>
            <h2 class="general-info__title" href="#">NECT</h2>
          </div>
        </a>
        <a class="linkcover" href="event-detail-stella1.html">
          <div class="general-info">
            <img
              class="general-info__icon"
              src="../assets/images/stella-logo.jpg"
              alt="icon"
            />
            <p class="general-info__slogan">留学生が集う多文化交流ラウンジ</p>
            <h2 class="general-info__title" href="#">Stella</h2>
          </div>
        </a>
        <a class="linkcover" href="org-detail-fiwc.html">
          <div class="general-info">
            <img
              class="general-info__icon"
              src="../assets/images/fiwc-logo.jpg"
              alt="icon"
            />
            <p class="general-info__slogan">ボランティアしたくね？海外。</p>
            <h2 class="general-info__title" href="#">FIWC東海委員会</h2>
          </div>
        </a>
        <a class="linkcover" href="org-detail-アイセック.html">
          <div class="general-info">
            <img
              class="general-info__icon"
              src="../assets/images/AIESEC-logo.jpg"
              alt="icon"
            />
            <p class="general-info__slogan">世界を変える、自分に出会う</p>
            <h2 class="general-info__title" href="#">AIESEC</h2>
          </div>
        </a>
        <a class="linkcover" href="org-detail-ドイツ文化研究.html">
          <div class="general-info">
            <img
              class="general-info__icon"
              src="../assets/images/ドイツ文化研究会-logo.jpg"
              alt="icon"
            />
            <p class="general-info__slogan">ドイツ学科多数在籍！</p>
            <h2 class="general-info__title" href="#">ドイツ文化研究会</h2>
          </div>
        </a>
        <a class="linkcover" href="org-detail-iki.html">
          <div class="general-info">
            <img
              class="general-info__icon"
              src="../assets/images/iki-logo.jpg"
              alt="icon"
            />
            <p class="general-info__slogan">名南生に驚きときっかけを</p>
            <h2 class="general-info__title" href="#">iki</h2>
          </div>
        </a>
        <a class="linkcover" href="org-detail-mocchy.html">
          <div class="general-info">
            <img
              class="general-info__icon"
              src="../assets/images/mocchy-logo.jpeg"
              alt="icon"
            />
            <p class="general-info__slogan">愛知に、全国に情報変革を</p>
            <h2 class="general-info__title" href="#">Mocchy</h2>
          </div>
        </a>
      </section>

      <!-- see-genreはこちら -->
      <a class="see-genre" href="org-list.html">一覧を見る </a>

      <div class="sub-title">
        <h3 class="sub-title__text">イベント</h3>
      </div>

      <!-- event-infoはこちら -->
      <section class="x-scroll">
        <a class="linkcover" href="../views/event-detail-stella1.html">
          <div class="event-info">
            <span></span>
            <p class="event-info__slogan">
              新学期を迎えた学生の皆さんに安らげる空間とHealingをお届け
            </p>
            <h2 class="event-info__title">Healing Week</h2>
            <p class="event-info__desc">
              4/29~5/3Stellaで音楽、ストレッチなど毎日異なる情報を提供
            </p>
            <img
              class="event-info__img"
              src="https://yoggy-institute.com/images/yoga/guidance/about_rys200.jpg"
              alt="img"
            />
          </div>
        </a>
      </section>

      <!-- see-genreはこちら -->
      <a class="see-genre" href="event-list.html">一覧を見る</a>

      <div class="sub-title">
        <h3 class="sub-title__text">フリーペーパー</h3>
      </div>

      <!-- mgz-infoはこちら -->
      <section class="x-scroll">
        <a class="linkcover" href="../views/mgz-detail-iki.html">
          <div class="mgz-info">
            <img
              class="mgz-info__img"
              src="../assets/images/iki-page1.jpg"
              alt="img"
            />
            <img
              class="mgz-info__icon"
              src="https://pbs.twimg.com/profile_images/739467081788227584/V3_WDxfV_400x400.jpg"
              alt="icon"
            />
            <p>名南生に驚きときっかけを</p>
            <h2>iki</h2>
            <span></span>
          </div>
        </a>
      </section>

      <!-- see-genreはこちら -->
      <a class="see-genre" href="mgz-list.html">一覧を見る</a>
    </main>
    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
    <script src="../../app/assets/javascripts/master.js"></script>
    <script src="../../app/assets/javascripts/slide-show.js"></script>
  </body>
</html>
