<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/mgz-detail.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
    />
    <title>フリーペーパー『粋』</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../assets/images/iki-logo.jpg"
          alt="icon"
        />
        <span class="detail__name">フリーペーパー『粋』</span>
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__desc">
        「名南生に驚きときっかけを」をコンセプトに名古屋大学・南山大学で配布しているフリーペーパーです！気軽に読めて、ちょっとタメになるコンテンツをお届けします
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- コンテンツはこちら -->
      <div class="detail__subtitle">コンテンツ紹介</div>
      <div class="detail__desc">
        こんにちは！</br>
        フリーペーパー『粋』企画部3年のさっちーです！</br></br>
        
        いつも読んでくださっている読者の皆様、本当にありがとうございます！！</br></br>
        
        そして、まだ読んだことがない皆様にも少しでも興味をもっていただけたら嬉しいなぁという思いのもと、</br>
        この場を借りて、4月に発行する春号をちょっとだけ紹介させていただきます(^^)</br></br></br></br>
        
        
        
        毎号特集テーマが変わる『粋』ですが、</br>
        今回のテーマは、</br></br>
        
        特集「持ちものに、もっとこだわる。」</br></br>
        
        です！！\(^^)/</br></br></br></br>
        
        
        
        タイトルを見たままなのですが、</br>
        今回は「もの」にフォーカスした企画となっています。</br></br></br>
        
        
        私達の身の回りはたくさんの「もの」で溢れていて、それを日常の中で無意識的に使っているわけですが、</br></br></br>
        
        
        みなさんは、ご自分の持ちものの中で、</br></br>
        
        「これはすごくお気に入り！！」</br></br>
        
        って胸を張って言えるもの、どのくらいお持ちでしょうか？？</br></br></br>
        
        
        ……もし、頭の中でこれはちょっと違うかな〜というものが思い浮かんだならば、</br>
        自分の「持ちもの観」を見直してみるタイミングかもしれないですね。</br></br></br>
        
        
        今号では、さまざまな視点から、</br>
        「持ちものにこだわる」ことにアプローチしていきます。</br>
        いろいろな意見を取り入れながら、みなさんが心から「好き！」と思えるものに出会えるきっかけとなれば、製作陣一同冥利に尽きます。</br>
        大人気企画「ステキ女子。」は、今回はいつもとは一味違った写真の雰囲気で、モデルさんのかわいさを120%楽しめるようになっています✨</br>
        また「ステキ旅」では、今回は国内で楽しめる楽園・奄美大島へ行ってきました！たくさんの自然に癒される旅の様子をどうぞご覧ください！</br>
        発刊日は4月11日(木)で、手配りほか、名古屋大学、南山大学内にも設置してありますので、ぜひ一度お手にとってもらえたら嬉しいです(^^)</br>
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <img
        class="mgz-detail__img"
        src="../assets/images/iki-page1.jpg"
      />
      <img
        class="mgz-detail__img"
        src="../assets/images/iki-page3.jpeg"
      />
      <img
        class="mgz-detail__img"
        src="../assets/images/iki-page4.jpeg"
      />


      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人に読んでほしい</div>
      <div class="detail__hashtag">
        <ul>
          <li>#自分の持ち物に対して関心を持ってこなかった人</li>
          <li>#もの選びの基準について考えたい人</li>
          <li>#自分のときめく感覚を知りたい人</li>
        </ul>
      </div>

      <!-- 運営団体はこちら -->
      <div class="detail__subtitle">運営団体</div>
      <a class="linkcover" href="org-detail-iki.html">
        <div class="general-info">
          <img
            class="general-info__icon"
            src="../assets/images/iki-logo.jpg"
            alt="icon"
          />
          <p class="general-info__slogan">「名南生に驚きときっかけを」</p>
          <h2 class="general-info__title" href="#">学生団体『粋』</h2>
        </div>
      </a>

    </main>
    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
    <script src="../../app/assets/javascripts/master.js"></script>
    <script src="../../app/assets/javascripts/detail.js"></script>
  </body>
</html>
