<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
    />
    <title>フリーペーパーの一覧</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
			<!-- sub-titleはこちら -->
			<div class="sub-title">
				<h3 class="sub-title__text">フリーペーパーの一覧を見る</h3>
			</div>
   
        <!-- mgz-infoはこちら -->
				<a class="linkcover" href="../views/mgz-detail-iki.html">
          <div class="mgz-info">
            <img
              class="mgz-info__img"
              src="../assets/images/iki-page1.jpg"
              alt="img"
            />
            <img
              class="mgz-info__icon"
              src="https://pbs.twimg.com/profile_images/739467081788227584/V3_WDxfV_400x400.jpg"
              alt="icon"
            />
            <p>名南生に驚きときっかけを</p>
            <h2>iki</h2>
            <span></span>
          </div>
        </a>
				
		</main>
		
    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
		<script src="../../app/assets/javascripts/master.js"></script>
		<script src="../../app/assets/javascripts/detail.js"></script>
  </body>
</html>
