<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link rel="stylesheet" href="../../app/assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
    />
    <title>AIESEC</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../../app/assets/images/AIESEC-logo.jpg"
          alt="icon"
        />
        <span class="detail__name">AIESEC</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動風景</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img class="detail__scr-item" src="../../app/assets/images/AIESEC-img1.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/AIESEC-img2.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/AIESEC-img3.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/AIESEC-img4.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/AIESEC-img5.jpg" />
        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">活動概要</div>
      <div class="detail__desc">
        世界を変える、自分に出会う<br/>世界126の国と地域に支部を持ち、海外インターンシップの企画と運営をしている学生団体です！
      </div>

      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>水曜日ミーティング</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>南山大学</span>
      </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからのひとこと</div>
      <div class="comment">
        <img class="comment__icon" src="../../モッチーについて/S__231111.jpg" />
        <div class="comment__name">映里</div>
        <div class="comment__info">国際教養学科</div>
        <p class="comment__title">作成中</p>
        <p class="comment__desc">
          作成中
        </p>
      </div>

      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人におすすめ</div>
      <div class="detail__hashtag">
        <ul>
          <li>#社会人と関わりたい人</li>
          <li>#インターン生募集</li>
          <li>#送り出しメンバー募集</li>
        </ul>
      </div>

      <!-- お問い合わせはこちら -->
      <div class="detail__subtitle">お問い合わせ</div>
      <div class="detail__contact">

        <a class="linkcover" href=" https://mobile.twitter.com/aiesec_nanzan">
            <i class="fab fa-twitter-square"></i>
          </a>

        <a class="linkcover" href="https://www.instagram.com/aiesec_nanzan/">
          <i class="fab fa-instagram"></i>
        </a>
      
      </div>
    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>
