<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="icon" href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png">
    <title>iki</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../../app/assets/images/iki-logo.jpg"
          alt="icon"
        />
        <span class="detail__name">iki</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動風景</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img class="detail__scr-item" src="../../app/assets/images/iki-img1.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/iki-img2.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/iki-img3.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/iki-img4.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/iki-img5.jpg" />
        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">活動概要</div>
      <div class="detail__desc">
        名古屋大学と南山大学の学生で、フリーペーパーを制作しています。発行費を集めるところから、取材、執筆、デザイン、配布まですべてを行っています！
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>毎週月曜日18:15～</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>名古屋大学文系総合館</span>
      </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからのひとこと</div>
      <div class="comment">
        <img class="comment__icon" src="../../app/assets/images/iki-icon1.jpg" />
        <div class="comment__name">けんけん</div>
        <div class="comment__info">名大農学部</div>
        <p class="comment__title">努力が形になる喜び</p>
        <p class="comment__desc">
          多くの時間と労力がかかっているからこそ、誌面が完成した時に感動は忘れられません！一緒にその感動を味わいませんか？
        </p>
      </div>
      <div class="comment">
        <img
          class="comment__icon"
          src="../../app/assets/images/iki-icon2.jpg"
        />
        <div class="comment__name">ずっきー</div>
        <div class="comment__info">名大文学部</div>
        <p class="comment__title">一生モノの出会い</p>
        <p class="comment__desc">
          一生モノの出会い 本文②みんな真剣なので、時にはぶつかり合うこともあります。でもそれを乗り越えることで、より一層仲良くなれますよ！
        </p>
      </div>
      <div class="comment">
        <img
          class="comment__icon"
          src="../../app/assets/images/iki-icon3.jpg"
        />
        <div class="comment__name">まゆ</div>
        <div class="comment__info">南山外国語学部</div>
        <p class="comment__title">大学生活で1番の財産</p>
        <p class="comment__desc">
          就活で頑張ったことと聞かれたら迷わず「粋」と答えるくらい、得られるものが大きいと感じています。本当に入ってよかった！
        </p>
      </div>

      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人におすすめ</div>
      <div class="detail__hashtag">
        <ul>
          <li>＃雑誌が好き</li>
          <li>＃編集の裏側を知りたい</li>
          <li>＃何かに打ち込みたい</li>
        </ul>
      </div>

      <!-- お問い合わせはこちら -->
      <div class="detail__subtitle">お問い合わせ</div>
      <div class="detail__contact">
        <a class="linkcover" href="https://twitter.com/ikikikiki">
          <i class="fab fa-twitter-square"></i>
        </a>
        <a class="linkcover" href="https://bit.ly/2WdbsKg">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>
