<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
    />
    <title>団体の一覧</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
			<!-- sub-titleはこちら -->
			<div class="sub-title">
				<h3 class="sub-title__text">団体の一覧を見る</h3>
			</div>
   
        <!-- org-infoはこちら -->
				<a class="linkcover" href="org-detail-nect.html">
						<div class="org-info">
							<img
								class="org-info__img"
								src="../assets/images/nect-img1.jpg"
								alt="img"
							/>
							<img
								class="org-info__icon"
								src="../assets/images/nect-logo.jpg"
								alt="icon"
							/>
							<p>環境と楽しいをcoNECT！</p>
							<h2>NECT</h2>
							<span></span>
						</div>
					</a>
				<a class="linkcover" href="org-detail-nicchukyo.html">
						<div class="org-info">
							<img
								class="org-info__img"
								src="../assets/images/nicchukyo-img1.png"
								alt="img"
							/>
							<img
								class="org-info__icon"
								src="../assets/images/nicchukyo-logo.jpeg"
								alt="icon"
							/>
							<p>「近くて遠い中国」と友達に</p>
							<h2>日中橋</h2>
							<span></span>
						</div>
					</a>
					<a class="linkcover" href="../views/org-detail-fiwc.html">
						<div class="org-info">
							<img
								class="org-info__img"
								src="../assets/images/fiwc-img1.jpg"
								alt="img"
							/>
							<img
								class="org-info__icon"
								src="../assets/images/fiwc-logo.jpg"
								alt="icon"
							/>
							<p>ボランティアしたくね？海外。</p>
							<h2>FIWC東海委員会</h2>
							<span></span>
						</div>
					</a>
					<a class="linkcover" href="org-detail-iki.html">
						<div class="org-info">
							<img
								class="org-info__img"
								src="../assets/images/iki-img2.jpg"
								alt="img"
							/>
							<img
								class="org-info__icon"
								src="../assets/images/iki-logo.jpg"
								alt="icon"
							/>
							<p>名南生に驚きときっかけを</p>
							<h2>iki</h2>
							<span></span>
						</div>
					</a>
					<a class="linkcover" href="org-detail-mocchy.html">
						<div class="org-info">
							<img class="org-info__img" src="../assets/images/mocchy-img1.png" alt="img" />
							<img
								class="org-info__icon"
								src="../assets/images/mocchy-logo.jpeg"
								alt="icon"
							/>
							<p>愛知に、全国に情報変革を</p>
							<h2>Mocchy</h2>
							<span></span>
						</div>
					</a>
				
		</main>
		
    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
		<script src="../../app/assets/javascripts/master.js"></script>
		<script src="../../app/assets/javascripts/detail.js"></script>
  </body>
</html>
