<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="icon" href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png">
    <title>FIWC東海委員会</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../../app/assets/images/fiwc-logo.jpg"
          alt="icon"
        />
        <span class="detail__name">FIWC東海委員会</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動風景</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img class="detail__scr-item" src="../../app/assets/images/fiwc-img2.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/fiwc-img3.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/fiwc-img4.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/fiwc-img5.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/fiwc-img6.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/fiwc-img7.jpg" />
        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">活動概要</div>
      <div class="detail__desc">
          東海地区の大学生を中心に国内外でワークキャンプを行う学生団体<br>
          ​主にハンセン病の啓発を目的として、現在、日本、インドネシア、中国で活動している。					
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>毎週火曜日18:00～</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>ナディアパーク6階</span>
      </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからのひとこと</div>
      <div class="comment">
        <img class="comment__icon" src="../../app/assets/images/fiwc-icon1.jpg" />
        <div class="comment__name">伊藤妃渚</div>
        <div class="comment__info">南山アジア学科</div>
        <p class="comment__title">かけがえのない出会い</p>
        <p class="comment__desc">
            毎週のミーティング、3週間に渡る海外での共同生活を通じてサークルのメンバーは私にとってとても大切な存在になりました。学校生活だけでなく、互いのことを何でも分かり合える仲間ができます！
        </p>
      </div>
      <div class="comment">
        <img
          class="comment__icon"
          src="../../app/assets/images/fiwc-icon2.jpg"
        />
        <div class="comment__name">北澤宗一郎</div>
        <div class="comment__info">南山総合政策学科</div>
        <p class="comment__title">違う世界</p>
        <p class="comment__desc">
            入らなかったら知らない世界がここにはたくさんある！現代を生きる日本人として、アジア人として学ぶべきことが学べた！アジアを違う見方できることができるようになった！
        </p>
      </div>
      <div class="comment">
        <img
          class="comment__icon"
          src="../../app/assets/images/fiwc-icon3.jpg"
        />
        <div class="comment__name">鈴木理沙</div>
        <div class="comment__info">アジア学科</div>
        <p class="comment__title">国境を超えたファミリー</p>
        <p class="comment__desc">
            衣食住共に行い、大家族感を味わえる!いつでも会いに行ける間柄になれる!
        </p>
      </div>

      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人におすすめ</div>
      <div class="detail__hashtag">
        <ul>
          <li>＃ワークキャンプ</li>
          <li>＃アジア</li>
          <li>＃ボランティア</li>
        </ul>
      </div>

      <!-- お問い合わせはこちら -->
      <div class="detail__subtitle">お問い合わせ</div>
      <div class="detail__contact">
        <a class="linkcover" href="https://www.instagram.com/fiwc_tokai/">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="linkcover" href="https://fiwctokai.weebly.com/">
          <i class="fas fa-home"></i>
        </a>
      </div>
    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>
