<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>南山基礎スキー部～GLACIER～</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../../app/assets/images/基礎スキー部-logo.gif"
          alt="icon"
        />
        <span class="detail__name">南山基礎スキー部</br>～GLACIER～</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動風景</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image1.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image2.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image3.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image4.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image5.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image7.jpg" />
        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">活動概要</div>
      <div class="detail__desc">
      "基礎スキー"という競技をバッジテスト(スキー検定)の合格や各種大会での活躍を目標に活動してます！
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>冬季：合宿、インライン</br>夏季：毎週水曜</br>　　　インラインスケート</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>南山体育館、戸狩温泉スキー場</span>
      </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからひとこと</div>

      <div class="comment">
        <img class="comment__icon" src="../../app/assets/images/基礎スキー部-image5.jpg" />
        <div class="comment__name">作成中</div>
        <div class="comment__info">作成中</div>
        <p class="comment__title">作成中</p>
        <p class="comment__desc">
          作成中
        </p>
      </div>

      <div class="comment">
        <img class="comment__icon" src="../../app/assets/images/基礎スキー部-image5.jpg" />
        <div class="comment__name">作成中</div>
        <div class="comment__info">作成中</div>
        <p class="comment__title">作成中</p>
        <p class="comment__desc">
          作成中
        </p>
      </div>

      <div class="comment">
        <img class="comment__icon" src="../../app/assets/images/基礎スキー部-image5.jpg" />
        <div class="comment__name">作成中</div>
        <div class="comment__info">作成中</div>
        <p class="comment__title">作成中</p>
        <p class="comment__desc">
          作成中
        </p>
      </div>

      <!-- お問い合わせはこちら -->
      <div class="detail__subtitle">お問い合わせ</div>
      <div class="detail__contact">
        <a class="linkcover" href="https://m.facebook.com/nanzan.ski.glacier/?locale2=ja_JP">
            <i class="fab fa-facebook-square"></i>
        </a>
          <a class="linkcover" href="https://twitter.com/ski_glacier">
              <i class="fab fa-twitter-square"></i>
          </a>

          <a class="linkcover" href="https://nanzan-glacier.jimdo.com/">
            <i class="fas fa-home"></i>
          </a>

          <a class="linkcover" href="@dpp93571">
            <i class="fab fa-line"></i>
          </a>
          
      </div>
    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>
