<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link rel="stylesheet" href="../../app/assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
    />
    <title>団体詳細</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../assets/images/nect-logo.jpg"
          alt="icon"
        />
        <span class="detail__name">NECT</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動風景</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img class="detail__scr-item" src="../assets/images/nect-img1.jpg" />
          <img class="detail__scr-item" src="../assets/images/nect-img2.jpg" />
          <img class="detail__scr-item" src="../assets/images/nect-img3.jpg" />
          <img class="detail__scr-item" src="../assets/images/nect-img4.jpg" />
          <img class="detail__scr-item" src="../assets/images/nect-img5.jpg" />
        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">活動概要</div>
      <div class="detail__desc">
        部員同士の仲がよく、和気あいあいとした環境で楽しく！自由に！ワークショップ～エコクッキングまで活動しています。環境といっても難しくなく自分たち流でエコを考え、試しています！自分がやってみたい企画を挑戦できる場所です！					
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>毎週火曜日昼休み</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>南山大学S42</span>
      </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからのひとこと</div>
      <div class="comment">
        <img class="comment__icon" src="../assets/images/nect-icon1.jpg" />
        <div class="comment__name">齋竹榛菜 (主幹)</div>
        <div class="comment__info">南山心理人間学科</div>
        <p class="comment__title">イベント企画って面白い</p>
        <p class="comment__desc">
          イベントに参加することでたくさんの経験ができました！人と話すことが苦手だったけど、多くの人とかかわり、協力し合うことで自分でも役に立てる、役に立つって楽しいと自信が少しつきました。
        </p>
      </div>
      <div class="comment">
        <img
          class="comment__icon"
          src="../assets/images/nect-icon2.jpg"
        />
        <div class="comment__name">渡辺潤哉 (副主幹)</div>
        <div class="comment__info">南山システム数理学科</div>
        <p class="comment__title">やりたいことに挑戦できる</p>
        <p class="comment__desc">
          NECTでは、自分たちが考えた企画や、楽しくてやりがいのある様々なことに挑戦できました！また、企業の方や他大学の方と協力することも多いのでたくさんの人と出会い、つながることができました！
        </p>
      </div>
      <div class="comment">
        <img
          class="comment__icon"
          src="../assets/images/icon.svg"
        />
        <div class="comment__name">田中千晶</div>
        <div class="comment__info">南山法律学科</div>
        <p class="comment__title">環境を学ぶきっかけに</p>
        <p class="comment__desc">
          エコクッキングや児童館の方とエコ工作のワークショップを行うなど、身近な活動を通して「環境」をより深く、わかりやすく学べました。のんびりとした雰囲気で活動できるのも魅力の一つです。
        </p>
      </div>

      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人におすすめ</div>
      <div class="detail__hashtag">
        <ul>
          <li>＃成長したい学生！</li>
          <li>＃ITやビジネスに興味がある学生！</li>
        </ul>
      </div>

      <!-- お問い合わせはこちら -->
      <div class="detail__subtitle">お問い合わせ</div>
      <div class="detail__contact">
        <a class="linkcover" href="https://twitter.com/nect_nanzan?lang=en">
            <i class="fab fa-twitter-square"></i>
          </a>
      </div>
    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>
