<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link rel="stylesheet" href="../assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="icon" href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png">
    <title>ドイツ文化研究会</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../../app/assets/images/ドイツ文化研究会-logo.jpg"
          alt="icon"
        />
        <span class="detail__name">ドイツ文化研究会</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動風景</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img class="detail__scr-item" src="http://cdn-ak.f.st-hatena.com/images/fotolife/t/tky-a/20110918/20110918171232.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/ドイツ文化研究会-img1.jpg" />

        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">活動概要</div>
      <div class="detail__desc">
      リトルワールドツアーなど楽しいイベントを企画してます。</br>他学部も大歓迎です！
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>不定期開催</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>リトルワールド(犬山)など</br>その都度連絡</span>
      </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからのひとこと</div>
      <div class="comment">
        <img class="comment__icon" src="../../app/assets/images/ドイツ文化研究会-img1.jpg" />
        <div class="comment__name">伊藤みき(2018年度主幹)</div>
        <div class="comment__info">外国語学部ドイツ語学科</div>
        <p class="comment__title">気の合う友達ができる</p>
        <p class="comment__desc">
          友達できるか心配、、、というあなた！！ドイツ文化研究会には楽しく優しい先輩や同じ趣味を持つ友達がたくさんできます！教授とも繋がりを持てるかも、、？
        </p>
      </div>

      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人におすすめ</div>
      <div class="detail__hashtag">
        <ul>
          <li>＃外国興味ある人！</li>
          <li>＃マイペースな人！</li>
        </ul>
      </div>

      <!-- お問い合わせはこちら -->
      <div class="detail__subtitle">お問い合わせ</div>
      <div>南山大学ドイツ文化研究会部室までお越しください！</div>
      <div class="detail__contact">
      </div>

    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../テンプレート/master.js"></script>
  <script src="../../テンプレート/detail.js"></script>
</html>
