<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/mgz-detail.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
    />
    <title>iki ~Spring~</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../assets/images/iki-logo.jpg"
          alt="icon"
        />
        <span class="detail__name">iki ~Spring~</span>
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__desc">
          おしゃれとキレイが大好きな20歳前後女子のための雑誌「non-no(ノンノ）」　最旬のファッション＆ビューティ記事を毎日発信！
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- コンテンツはこちら -->
      <div class="detail__subtitle">コンテンツ紹介</div>
      <div class="detail__desc">
          2月20日発売のnon-no4月号はなぁちゃんが表紙✨<br>通常版は特別付録「号外! 西野七瀬ジャーナル」つき❤️<br>春トレンドの最速答え合わせから好かれ女子コーデ＆メイク、齋藤飛鳥の春ジュエリーやPRINCE OF LEGENDスペシャルと、今月も盛りだくさんだよ😳👏🏻
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <img
        class="mgz-detail__img"
        src="../assets/images/iki-page1.jpg"
      />
      <img
        class="mgz-detail__img"
        src="../assets/images/iki-page3.jpeg"
      />
      <img
        class="mgz-detail__img"
        src="../assets/images/iki-page4.jpeg"
      />


      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人に読んでほしい</div>
      <div class="detail__hashtag">
        <ul>
          <li>#大学生活をもっと楽しくしたい</li>
        </ul>
      </div>

      <!-- 運営団体はこちら -->
      <div class="detail__subtitle">運営団体</div>
      <a class="linkcover" href="org-detail-iki.html">
        <div class="general-info">
          <img
            class="general-info__icon"
            src="../assets/images/iki-logo.jpg"
            alt="icon"
          />
          <p class="general-info__slogan">名南生に驚きときっかけを</p>
          <h2 class="general-info__title" href="#">iki</h2>
        </div>
      </a>

    </main>
    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
    <script src="../../app/assets/javascripts/master.js"></script>
    <script src="../../app/assets/javascripts/detail.js"></script>
  </body>
</html>
