<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link rel="stylesheet" href="../../app/assets/stylesheets/welcome.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
    />
    <title>Mocchy</title>
  </head>
  <body>
    <a class="linkcover" href="home.html">
      <div class="wrapper">
        <img class="logo" src="../assets/images/mocchy-logo1.png" />
      </div>
      <h1 class="title">MOCCHY (モッチー)</h1>
    </a>

    <div class="unit">
      <div class="wrapper">
        <img class="icon" src="../assets/images/welcome-img4.1.png" />
      </div>
      <h2 class="subtitle">WHAT IS MOCCHY</h2>
      <p class="desc">
        <span>南山大学の部活・サークル、イベントやフリーペーパー</span>の情報が集まったWebサイトです。<br /><br />南山チャレンジプロジェクト採択団体・MOCCHYが運営しています。
      </p>
      <img class="photo" src="" />
    </div>

    <div class="unit">
      <div class="wrapper">
        <img class="icon" src="../assets/images/welcome-img1.1.png" />
      </div>
      <h2 class="subtitle">HOW TO MOCCHY</h2>
      <p class="desc">
        ご興味のある団体、フリーペーパーや</br>イベントの情報をクリック！
      </p>
      <div class="wrapper">
        <img class="photo" src="../assets/images/welcome-img5.png" />
      </div>
      <p class="desc">
        見学したい・参加したいと思ったら、<span>「お問い合わせ」から各団体にご連絡できます。</span>
      </p>
      <img class="photo" src="" />
    </div>

    <div class="unit">
      <div class="wrapper">
        <img class="icon" src="../assets/images/welcome-img2.5.png" />
      </div>
      <h2 class="subtitle">CONTACT MOCCHY</h2>
      <p class="desc">
        ご質問等は<br />
        mocchy2019@gmail.com<br />
        までお送りください。
      </p>
      <img class="photo" src="" />
    </div>

    <a class="see-genre" href="home.html">LET'S MOCCHY!</a>
  </body>
</html>
