<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link rel="stylesheet" href="../../app/assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
    />
    <title>Grow & Leap</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="http://flat-icon-design.com/f/f_event_100/s512_f_event_100_1nbg.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="http://event-pre.com/e/newyear4th_27/newyear4th_27.png"
          alt="icon"
        />
        <span class="detail__name">Mocchy</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動風景</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img class="detail__scr-item" src="app/assets/images/Grow&Leap-icon.jpg" />
          <img class="detail__scr-item" src="app/assets/images/Grow&Leap-image2.jpg" />
          <img class="detail__scr-item" src="app/assets/images/Grow&Leap-image3.jpg" />
          <img class="detail__scr-item" src="app/assets/images/Grow&Leap-image4.jpg" />
        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">活動概要</div>
      <div class="detail__desc">
          Grow&Leapとは、大学1、2年生を対象に、【自分らしい大学生活のデザイン】をお手伝いするキャリア教育NPOです。<br />活動内容としては、 ①【自分らしい】大学生活のためのコンサルティング ②【個性】を伸ばす活躍の場や機会を提供する  です。<br />自分らしい将来設計のために、大学時代の4年間の過ごし方を熟考したい！<br />大学や学部、世代を超えた交流を通して価値観を拡げたい！<br />他にないイベント企画してみたい、などの学生さんぜひお声がけください^ ^<br />GLのビジョンやコンセプトに共感し、共に運営しながらキャリアを積みたい学生（next generation）も募集しています！<br />  GLのコンセプトはHPへ！
          
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>週1～</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>名大、南山付近や名古屋駅</span>
      </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからのひとこと</div>
      <div class="comment">
        <img class="comment__icon" src="../../モッチーについて/S__231111.jpg" />
        <div class="comment__name">幸村怜奈</div>
        <div class="comment__info">名古屋大学大学院 教育発達科学研究科</div>
        <p class="comment__title">個性社会</p>
        <p class="comment__desc">
         はじめまして！Grow&Leap代表の幸村です。<br/>
		私たちは「"個性社会"の実現の」ために全力で頑張っているキャリア教育　NPOです^ ^<br/>
		一人ひとりの個性が活きた活気にあふれる社会を、わたしたちは"個性社会"と呼んでいます。<br/>
		その"個性社会"を実現するために、日々面談からイベント企画まで、多岐に渡る活動をしています。<br/>
		「どうしたらこの人の個性が活かされ、また社会に広がっていくのか？」という簡単ではない問いに向き合い、メンバーと議論が白熱し、とまらなくなることも多々笑<br/>
		向き合う問いが難しい分、関わった学生が変化していく姿を見るときにはとても感動するし、やりがいを感じて、もっと頑張ろうと思えます！<br/>
		それほど真剣に、でも笑顔で楽しく活動しています^ ^<br/><br/>
		個性社会、素敵だなって思った人がいたら、是非一緒に活動しましょう！<br/>
		あなたの個性にあった活躍の場があります^ ^
        </p>
      </div>
      
      <!--ひとこともう１人なし
      <div class="comment">
        <img
          class="comment__icon"
          src="../../モッチーについて/S_20190212094052.jpg"
        />
        <div class="comment__name">長尾　満(Co-Founder)</div>
        <div class="comment__info">アジア学科卒</div>
        <p class="comment__title">まずは名古屋から</p>
        <p class="comment__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab earum quam
          architecto fuga laboriosam, explicabo nesciunt qui voluptatum
          accusamus blanditiis molestiae perspiciatis, recusandae inventore
          quisquam nam! Harum doloribus ex perferendis!
        </p>
      </div>-->

      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人におすすめ</div>
      <div class="detail__hashtag">
        <ul>
          <li>＃社会に出ても通じる価値観やスキルの幅を拡げたい！</li>
          <li>＃自分でやってみたいことを実現させるための仲間がほしい！</li>
          <li>＃世代を越えた交流がしたい！</li>
        </ul>
      </div>

      <!-- お問い合わせはこちら -->
      <div class="detail__subtitle">お問い合わせ</div>
      <div class="detail__contact">
        <a class="linkcover" href="https://www.facebook.com/growandleap/">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a class="linkcover" href="https://twitter.com/GrowLeap">
            <i class="fab fa-twitter-square"></i>
          </a>
        <a class="linkcover" href="https://growandleap.com/">
          <i class="fas fa-home"></i>
        </a>
        
      </div>
    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>

